@import "tailwindcss";

@theme {
  --spacing: 8px;
}

.container-half {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 640px) {
  .container-half {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container-half {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container-half {
    max-width: 512px;
  }
}
@media (min-width: 1280px) {
  .container-half {
    max-width: 640px;
  }
}
@media (min-width: 1536px) {
  .container-half {
    max-width: 768px;
  }
}
